@{
    ViewBag.Title = "Inicio";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">Proyecto #1 - Yordi Elizondo Montes</h1>
        <p class="lead">Administración de bodega de repuestos de taller automotriz.</p>
    </section>
</main>