USE [Proyecto_Yordi]
GO
/****** Object:  Table [dbo].[EntregaRepuesto]    Script Date: 17/7/2025 21:25:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EntregaRepuesto](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CantidadEntregada] [int] NOT NULL,
	[FechaEntrega] [datetime] NOT NULL,
	[SolicitudRepuestoId] [int] NOT NULL,
	[UsuarioEntregadorId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.EntregaRepuesto] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_SolicitudRepuestoId]    Script Date: 17/7/2025 21:25:34 ******/
CREATE NONCLUSTERED INDEX [IX_SolicitudRepuestoId] ON [dbo].[EntregaRepuesto]
(
	[SolicitudRepuestoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UsuarioEntregadorId]    Script Date: 17/7/2025 21:25:34 ******/
CREATE NONCLUSTERED INDEX [IX_UsuarioEntregadorId] ON [dbo].[EntregaRepuesto]
(
	[UsuarioEntregadorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[EntregaRepuesto] ADD  DEFAULT ((0)) FOR [SolicitudRepuestoId]
GO
ALTER TABLE [dbo].[EntregaRepuesto] ADD  DEFAULT ('') FOR [UsuarioEntregadorId]
GO
ALTER TABLE [dbo].[EntregaRepuesto]  WITH CHECK ADD  CONSTRAINT [FK_dbo.EntregaRepuestoes_dbo.AspNetUsers_UsuarioEntregadorId] FOREIGN KEY([UsuarioEntregadorId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[EntregaRepuesto] CHECK CONSTRAINT [FK_dbo.EntregaRepuestoes_dbo.AspNetUsers_UsuarioEntregadorId]
GO
ALTER TABLE [dbo].[EntregaRepuesto]  WITH CHECK ADD  CONSTRAINT [FK_dbo.EntregaRepuestoes_dbo.SolicitudRepuesto_SolicitudRepuestoId] FOREIGN KEY([SolicitudRepuestoId])
REFERENCES [dbo].[SolicitudRepuesto] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[EntregaRepuesto] CHECK CONSTRAINT [FK_dbo.EntregaRepuestoes_dbo.SolicitudRepuesto_SolicitudRepuestoId]
GO
