USE [Proyecto_Yordi]
GO
/****** Object:  Table [dbo].[SolicitudRepuesto]    Script Date: 17/7/2025 21:25:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SolicitudRepuesto](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RepuestoId] [int] NOT NULL,
	[UsuarioSolicitadorId] [nvarchar](128) NOT NULL,
	[CantidadSolicitada] [int] NOT NULL,
	[FechaSolicitud] [datetime] NOT NULL,
	[Estado] [int] NOT NULL,
 CONSTRAINT [PK_dbo.SolicitudRepuesto] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_RepuestoId]    Script Date: 17/7/2025 21:25:34 ******/
CREATE NONCLUSTERED INDEX [IX_RepuestoId] ON [dbo].[SolicitudRepuesto]
(
	[RepuestoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UsuarioSolicitadorId]    Script Date: 17/7/2025 21:25:34 ******/
CREATE NONCLUSTERED INDEX [IX_UsuarioSolicitadorId] ON [dbo].[SolicitudRepuesto]
(
	[UsuarioSolicitadorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SolicitudRepuesto]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SolicitudRepuesto_dbo.AspNetUsers_UsuarioSolicitadorId] FOREIGN KEY([UsuarioSolicitadorId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[SolicitudRepuesto] CHECK CONSTRAINT [FK_dbo.SolicitudRepuesto_dbo.AspNetUsers_UsuarioSolicitadorId]
GO
ALTER TABLE [dbo].[SolicitudRepuesto]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SolicitudRepuesto_dbo.Repuesto_RepuestoId] FOREIGN KEY([RepuestoId])
REFERENCES [dbo].[Repuesto] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SolicitudRepuesto] CHECK CONSTRAINT [FK_dbo.SolicitudRepuesto_dbo.Repuesto_RepuestoId]
GO
