USE [Proyecto_Yordi]
GO
/****** Object:  Table [dbo].[Repuesto]    Script Date: 17/7/2025 21:25:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Repuesto](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Descripcion] [nvarchar](250) NOT NULL,
	[Precio] [decimal](18, 2) NOT NULL,
	[CantidadDisponible] [int] NOT NULL,
	[FechaIngreso] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.Repuesto] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Repuesto] ADD  DEFAULT ((0)) FOR [CantidadDisponible]
GO
ALTER TABLE [dbo].[Repuesto] ADD  DEFAULT ('1900-01-01T00:00:00.000') FOR [FechaIngreso]
GO
