@{
    ViewBag.Title = "Error de inicio de sesión";
}

<div class="container mt-5">
    <div class="alert alert-danger text-center">
        <h2>@ViewBag.Title</h2>
        <h4>El inicio de sesión con el servicio no se ha llevado a cabo correctamente.</h4>
    </div>
</div>